@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.nav-bar{
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
  color: #fff;
  background-color: black;
  align-items: center;
  position: fixed;
  width: 100%;
}
.navlist{
  display: flex;
  align-items: center;
}
.navlink{
  padding: 20px;
  font-weight: 500;
}
.rightnav{
  display: flex;
}
.container{
  padding: 0 15px;
  padding-top: 65px;
}
.product-img img{
  width: 100%;
  aspect-ratio: 4/2;
  border-radius: 10px;
  margin-bottom: 10px;
}
.product-title{
  font-size: 20px;
  font-weight: bold;
}
.product-price{
  font-size: 20px;
}
.product-discount{
  color: rgb(7, 201, 7);
  font-size: 20px;
}
